* {
    margin: 0;
	padding: 0;
}

html {
	font-family: $font;
	font-size: 62.5%;
}

body {
	background-color: $violeta-oscuro;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: $violeta-oscuro;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: $amarillo-fluor;
	border-radius: 5px;
}


